@media (max-width: 480px) {
    /* For mobile phones: */
    p{
    	font-size:12px;
    }
    h1{
    	font-size:15px;
    	color:#FFFFFF;
	}
	#header{
		background-image: url("images/bikeheader.png");
	}
	.container-fluid{
		max-width:370px;
		margin-left:0 auto;
		margin-right:0 auto;
		padding-right:15;
		padding-left:15;
	}
	.row-fluid{
		max-width:400px;
	}
	.col-10{
		max-width:400px;
	}
	img{
		margin-bottom:20px;
		margin:0 auto;
		max-width:400px;
	}
	body{
		margin-right:0;
		max-width:100%;
		max-height:20%;
		height:200px;
	}

/*end media query*/
}
body{
	max-width:100%;
}

#header{
	height: 400px;
	text-align:center;
	display:block;
	width:100%;
	clear:both;
	background-size: cover;
	background-image: url("images/backgroundwide2.png");
}

h1{
    top: 25px;
    max-width:100%;
    font-family:Verdana, "Arial";
    font-size:35px;
}
p{
	display:block;
	margin-right:0px;
	font-size:16px;
}

#bold{
	font-weight:bold;
}

img{
	margin-bottom:20px;
	max-width: 100%
	margin:0 auto;
	text-align: center;
}

.container-fluid{
	max-width:680px;
	margin:0 auto
	margin-right:0 auto;
}
.row-fluid{
	max-width:680px;
}