@media (max-width: 480px) {
    /* For mobile phones: 
    [class*="col-"] {
        width: 80vh;*/
    p{
    	font-size:12px;
    	width:650px;
    }
    h1{
    	font-size:15px;
    	color:#FFFFFF;
	}
	#header{
		background-image: url("images/bikeheader.png");
	}
	.container-fluid{
		width:300px;
		margin-left:0 auto;
		margin-right: 0 auto;
	}
	img{
		margin-bottom:20px;
		margin:0 auto;
		width:650px;
	}
	body{
		margin-right:0;
		width:100vh;
	}
}

#header{
	height: 400px;
	text-align:center;
	display:block;
	width:100%;
	clear:both;
	background-size: cover;
	background-image: url("images/backgroundwide2.png");
}

h1{
    top: 25px;
    width:100%;
    font-family:Verdana, "Arial";
    font-size:35px;
}
p{
	display:block;
	margin-right:40px;
	width:680px;
	font-size:16px;
}

#bold{
	font-weight:bold;
}

img{
	margin-bottom:20px;
	max-width: 100%
	margin:0 auto;
	text-align: center;
}

.container-fluid{
	width:680px;
	margin:0 auto
	margin-right:0 auto;
}